.dark [img-light] {
  display: none;
}

html:not(.dark) [img-dark] {
  display: none;
}

/* checkbox */

.contains-task-list li::before {
  display: none;
}

[type="checkbox"] {
  margin-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--color-bg);
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}

[type="checkbox"]:checked {
  background-color: var(--vt-c-green);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23fff' d='M5.8 11.2L2.6 8l-.8.8L5.8 12.8l7.2-7.2-.8-.8z'/%3E%3C/svg%3E");
}

/* Overrides */

.vt-menu-link {
  display: block;
  border-radius: 6px;
  line-height: 32px;
  font-weight: 500;
  color: var(--vp-c-text-1);
  white-space: nowrap;
  transition: background-color .25s, color .25s;
  margin-left: 10px;
  margin-right: 10px;
}


.vt-menu-link:hover {
  color: var(--vp-c-brand);
  background-color: #f1f1f1;
}

.dark .vt-menu-link:hover {
  background-color: #3a3a3a;
}


.VPSocialLink {
  transform: scale(0.9);
}

.vp-doc th,
.vp-doc td {
  padding: 6px 10px;
  border: 1px solid #8882;
}

/* background to make it more readable */
.dark .VPNavBar.has-sidebar .content {
  background: var(--vp-c-bg) !important;
}

.dark .VPNavBar {
  background: #1a1a1ab7 !important;
}

/* h3 breaks SEO => replaced with h2 with the same size */
.home-content h2 {
  margin-top: 2rem;
  font-size: 1.35rem;
  border-bottom: none;
  margin-bottom: 0;
}

img.resizable-img {
  width: unset;
  height: unset;
}

/* fix height ~ 2 lines of text: 3 or more cards per row */
.VPTeamMembersItem.small .profile .data .affiliation {
  min-height: 3rem;
}

.VPTeamMembersItem.small .profile .data .desc {
  min-height: 3rem;
}

/* fix height ~ 3 lines of text: 4 cards per row */
@media (min-width: 1064px) and (max-width: 1143px) {
  .VPTeamMembersItem.small .profile .data .affiliation {
    min-height: 4rem;
  }

  .VPTeamMembersItem.small .profile .data .desc {
    min-height: 4rem;
  }
}

/* fix height ~ 3 lines of text: 3 cards per row */
@media (min-width: 815px) and (max-width: 875px) {
  .VPTeamMembersItem.small .profile .data .affiliation {
    min-height: 4rem;
  }

  .VPTeamMembersItem.small .profile .data .desc {
    min-height: 4rem;
  }
}

/* fix height ~ 3 lines of text: 2 cards per row */
@media (max-width: 612px) {
  .VPTeamMembersItem.small .profile .data .affiliation {
    min-height: 4rem;
  }

  .VPTeamMembersItem.small .profile .data .desc {
    min-height: 4rem;
  }
}

/* fix height: one card per row */
@media (max-width: 568px) {
  .VPTeamMembersItem.small .profile .data .affiliation {
    min-height: unset;
  }

  .VPTeamMembersItem.small .profile .data .desc {
    min-height: unset;
  }
}