@import url('override.css');
.cls-1 {
  fill: url(#未命名的渐变_586);
}

.cls-2,
.cls-5 {
  fill: none;
  stroke: #fff;
}

.cls-2 {
  stroke-miterlimit: 10;
  stroke-width: 5px;
}

.cls-3 {
  opacity: 0.15;
}

.cls-4 {
  fill: #7b7a7b;
  stroke: #cbcccc;
  stroke-width: 2px;
  fill-rule: evenodd;
}

.cls-5 {
  stroke-width: 15px;
}

.dark s {
  color: #3a3a3a
}

s {
  color: rgba(136, 136, 136, 0.518);
}

.dark [img-light] {
  display: none;
}

html:not(.dark) [img-dark] {
  display: none;
}

/* checkbox */

.contains-task-list li::before {
  display: none;
}

[type="checkbox"] {
  margin-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--color-bg);
  border: 1px solid #ccc;
  border-radius: 3px;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}

.dark [type="checkbox"] {
  border: 1px solid #3a3a3a;
}

[type="checkbox"]:checked {
  background-color: var(--vt-c-green);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23fff' d='M5.8 11.2L2.6 8l-.8.8L5.8 12.8l7.2-7.2-.8-.8z'/%3E%3C/svg%3E");
}

/* Overrides */

.vt-menu-link {
  display: block;
  border-radius: 6px;
  line-height: 32px;
  font-weight: 500;
  color: var(--vp-c-text-1);
  white-space: nowrap;
  transition: background-color .25s, color .25s;
  margin-left: 10px;
  margin-right: 10px;
}


.vt-menu-link:hover {
  color: var(--vp-c-brand);
  background-color: #f1f1f1;
}

.dark .vt-menu-link:hover {
  background-color: #3a3a3a;
}


.VPSocialLink {
  transform: scale(0.9);
}

.vp-doc th,
.vp-doc td {
  padding: 6px 10px;
  border: 1px solid #8882;
}

/* background to make it more readable */
.dark .VPNavBar.has-sidebar .content {
  background: var(--vp-c-bg) !important;
}

.dark .VPNavBar {
  background: #1a1a1ab7 !important;
}

/* h3 breaks SEO => replaced with h2 with the same size */
.home-content h2 {
  margin-top: 2rem;
  font-size: 1.35rem;
  border-bottom: none;
  margin-bottom: 0;
}

img.resizable-img {
  width: unset;
  height: unset;
}

/* fix height ~ 2 lines of text: 3 or more cards per row */
.VPTeamMembersItem.small .profile .data .affiliation {
  min-height: 3rem;
}

.VPTeamMembersItem.small .profile .data .desc {
  min-height: 3rem;
}

/* fix height ~ 3 lines of text: 4 cards per row */
@media (min-width: 1064px) and (max-width: 1143px) {
  .VPTeamMembersItem.small .profile .data .affiliation {
    min-height: 4rem;
  }

  .VPTeamMembersItem.small .profile .data .desc {
    min-height: 4rem;
  }
}

/* fix height ~ 3 lines of text: 3 cards per row */
@media (min-width: 815px) and (max-width: 875px) {
  .VPTeamMembersItem.small .profile .data .affiliation {
    min-height: 4rem;
  }

  .VPTeamMembersItem.small .profile .data .desc {
    min-height: 4rem;
  }
}

/* fix height ~ 3 lines of text: 2 cards per row */
@media (max-width: 612px) {
  .VPTeamMembersItem.small .profile .data .affiliation {
    min-height: 4rem;
  }

  .VPTeamMembersItem.small .profile .data .desc {
    min-height: 4rem;
  }
}

/* fix height: one card per row */
@media (max-width: 568px) {
  .VPTeamMembersItem.small .profile .data .affiliation {
    min-height: unset;
  }

  .VPTeamMembersItem.small .profile .data .desc {
    min-height: unset;
  }
}

.vt-doc div[class*='language-'],
.vt-doc [class*='language-']>button.copy {
  background-color: var(--vp-c-copy-button-bg);
}

.vt-doc [class*='language-']>button.copy:hover,
.vt-doc [class*='language-']>button.copy.copied,
.vt-doc [class*='language-']>button.copy:hover.copied,
.vt-doc [class*='language-']>button.copy.copied::before,
.vt-doc [class*='language-']>button.copy:hover.copied::before {
  background-color: var(--vp-c-copy-button-bg-hover);
  color: var(--vp-c-text-code) !important;
}

.vp-code-group {
  margin-top: 16px;
}

.vp-code-group .tabs {
  position: relative;
  display: flex;
  margin-right: -24px;
  margin-left: -24px;
  padding: 0 12px;
  background-color: var(--vp-code-tab-bg);
  overflow: auto;
}

.vp-code-group .tabs::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  background-color: var(--vp-code-tab-divider);
  content: '';
}

@media (min-width: 640px) {
  .vp-code-group .tabs {
    margin-right: 0;
    margin-left: 0;
    border-radius: 8px 8px 0 0;
  }
}

.vp-code-group .tabs input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.vp-code-group .tabs label {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid transparent;
  padding: 0 12px;
  line-height: 48px;
  font-size: 14px;
  font-weight: 500;
  color: var(--vp-code-tab-text-color);
  white-space: nowrap;
  cursor: pointer;
  transition: color 0.25s;
}

.vp-code-group .tabs label::after {
  position: absolute;
  right: 8px;
  bottom: -1px;
  left: 8px;
  z-index: 10;
  height: 1px;
  content: '';
  background-color: transparent;
  transition: background-color 0.25s;
}

.vp-code-group label:hover {
  color: var(--vp-code-tab-hover-text-color);
}

.vp-code-group input:checked+label {
  color: var(--vp-code-tab-active-text-color);
}

.vp-code-group input:checked+label::after {
  background-color: var(--vp-code-tab-active-bar-color);
}

.vp-code-group div[class*='language-'] {
  display: none;
  margin-top: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.vp-code-group div[class*='language-'].active {
  display: block;
}


.vp-code-dark {
  display: none;
}

.dark .vp-code-light {
  display: none;
}

.dark .vp-code-dark {
  display: block;
}

.details {
  padding-top: 8px;
  line-height: 24px;
  font-size: 14px;
  font-weight: 500;
  color: var(--vp-c-text-2);
}