.DocSearch-Form {
  border: none;
  padding: 3px 15px 3px 0;
}

.search-group {
  padding-top: 10px;
}

.modal-back {
  animation: fade-in 0.2s ease;
}

.search-list > div {
  padding-bottom: 10px;
}

.search-item > .search-item-icon:nth-last-child(1) {
  display: none;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.search-item {
  transition: all 0.15s ease;
  padding-top: 10px;
  padding-bottom: 10px;
}

.search-list {
  --vp-custom-block-details-border: #c5c8cd;
  --vp-custom-block-details-text: #6a737d;
  --vp-custom-block-details-bg: #f6f8fa;
  --vp-c-brand-dark: #7e7e7e;
}

.search-item:hover {
  background-color: #8c8c8c;
}

.dark .search-item:hover {
  background-color: #161616;
}

.dark .search-item {
  --vp-custom-block-details-border: transparent;
  --vp-custom-block-details-text: #bbcadb;
  --vp-custom-block-details-bg: #202020;
}